@namespace Podcast.Web.Components
@using Podcast.Domain
@using Podcast.Domain.Equipe
@if ((PlayList?.Episodes?.Count() ?? 0) == 0)
{
    <div>
        <p>Aucune playlist ou épisode à afficher pour le moment.</p>
    </div>
}
@*else
{
    @foreach (var episode in PlayList.Episodes)
    {
        <div class="episode">
            <figure>
                <figcaption>@($"{episode.DatePublication} - {episode.TitreEpisode}")</figcaption>
                <a href="@($"{pathProvider.GetTeacherBrowsingFolder(Enseignant)}/{episode.NomEpisode}.mp3")" download>Télécharger</a><br />
                <audio controls src="@($"{pathProvider.GetTeacherBrowsingFolder(Enseignant)}/{episode.NomEpisode}.mp3")" style="margin-top:3px;">
                    Votre navigateur ne supporte pas l'élément
                    <code>audio</code>.
                </audio>
            </figure>
        </div>
    }
}*@
else
{
    <DataGrid Items="@PlayList.Episodes">
        <Columns>
            <th>Titre</th>
            <th>Date de publication</th>
            <th>Podcast</th>
        </Columns>
        <RowTemplate>
            <td>@context.TitreEpisode</td>
            <td>@($"{context.DatePublication:dd/mm/YYYY}")</td>
            <td>
                <audio controls src="@($"{pathProvider.GetTeacherBrowsingFolder(Enseignant)}/{@context.NomEpisode}.mp3")" style="margin-top:3px;">
                    Votre navigateur ne supporte pas l'élément
                    <code>audio</code>.
                </audio>
            </td>
        </RowTemplate>

    </DataGrid>
}

@inject IPathProvider pathProvider
@code{

    [Parameter] public Enseignant Enseignant { get; set; }
    [Parameter] public EventCallback<Enseignant> EnseignantChanged { get; set; }

    [Parameter] public PlayList PlayList { get; set; }
    [Parameter] public EventCallback<PlayList> PlayListChanged { get; set; }
}